.eventCard {
  text-align: left;
  margin-bottom: 1em;
  border: 1px solid rgb(237, 237, 237);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.eventContainer {
  min-height: 100vh;
  padding: 3em;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 10fr;
}

.suggestionsContainer {
  border: 1px solid rgb(237, 237, 237);
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
  padding-top: 0em;
  margin-bottom: 1em;
}

.headerContainer {
  text-align: center;
}

.smallInput {
  width: 500px;
}

.drawerFooter {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.suggestionsHeader {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.flexSuggestions {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding: 2em;
}

.suggestionCardContainer {
  border-radius: 10px;
  border: 2px solid rgb(237, 237, 237);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 350px;
  padding: 2em 1em;
  color: black;
  display: grid;
  grid-template-rows: 50px 6fr 1fr;
  position: relative;
}

.buttonBox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.8em;
}

.suggestionnName {
  font-weight: 400;
}

.voteBox {
  position: absolute;
  top: -1em;
  right: -0.2em;
  z-index: 1;
  background-color: white;
  border: 1px solid rgb(237, 237, 237);
  padding: 0.3em 0.8em;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subSwitch {
  max-width: 400px;
}

.backButton {
  display: flex;
  gap: 10px;
}