.chatContainer {
  min-height: 400px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: space-between; */
}

.chatHeader {
  border-bottom: 1px solid lightgray;
  padding-bottom: .5em;
}

.messageContainer {
  height: 100%;
}

.textDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em
}

.submitButton {
  background-color: transparent;
  color: black;
}

.formWrapper {
  position: absolute;
  width: calc(100% - 2em);
  left: 1em;
  bottom: 1em;
}