.homePageContainer {
  height: 100vh;
  /* overflow-y: auto; */
  scroll-snap-type: y mandatory;
}

.content {
  height: 100vh;
}

.announcementsContainer {
  height: 400px;
  background-color: rgb(1, 79, 116);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  scroll-snap-align: start;
  color: white;
}

.lowerSection {
  background-color: rgb(255, 255, 255);
  position: sticky;
  z-index: 2;
  scroll-snap-align: start;
  padding: 7em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
