.smallGroupContainer {
  text-align: left;
  margin-bottom: 1em;
  border: 1px solid rgb(237, 237, 237);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.createdOn {
  font-size: smaller;
  font-style: italic;
}

.membersFlex {
  margin: .5em 0em;
}

.spacedRow {
  display: flex;
  gap: 1em;
}

.singleUserContainer {
  border: 1px solid rgb(237, 237, 237);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 60px;
  padding: .5em 1em;
  cursor: pointer;
}

.singleUserContainer:hover {
  background-color: rgb(237, 237, 237);
}

.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usersContainer {
  position: absolute;
  width: 464px;
  max-height: 500px;
  overflow-y: auto;
}

.userName {
  font-weight: 900;
}

.removeUser {
  background-color: #b00404;
  height: 20px;
}

.skeleMembers {
  display: flex;
  flex-direction: wrap;
  gap: 6px
}