.registration-form-container {
  width: 60vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registration-form-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration-form>div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.registration-form label {
  font-weight: bold;
  color: #555;
  text-align: left;
  padding-left: 5px;
}

.registration-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.registration-form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .registration-form-container {
    max-width: 100%;
    padding: 15px;
    background-color: red;
  }
}