.smallGroupContainer {
  text-align: left;
  margin-bottom: 1em;
  border: 1px solid rgb(237, 237, 237);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.createdOn {
  font-size: smaller;
  font-style: italic;
}

.membersFlex {
  margin: .5em 0em;
}

.spacedRow {
  display: flex;
  gap: 1em;
}