.editProfileFields {
  margin-top: 2em;
}

.splitRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

.buttonRow {
  margin-top: 2em;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.error {
  color: rgb(194, 4, 4);
}

.membersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 1em 0em;
}

.membersSection {
  font-weight: 600;
  text-align: left;
  margin-top: 4em;
}

.buttonRow {
  margin-top: 1em;
  display: flex;
}

.emptyButton {
  background-color: red;
}

.deleteButton {
  color: red;
  background-color: white;
  border: 1px solid lightgrey;
}

.deleteButton:hover {
  background-color: black;
}

.topButton:hover {
  background-color: red;
}

.newNameForm {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 0.3em;
}

.newInput {
  max-width: 250px;
}

.topButtonRowForm {
  display: flex;
  gap: 5px;
}
